
 .flex-card-container {
 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   

 }

 .card--img {
    height: 10rem;
    width:10rem ;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
 }
 

.card--paragraph {
    width: 10rem;
}

 

 /*  ::before, ::after ska ha ::
     before , after lägger till content in i DOM med hjälp av css

     content 



ex: 
     .card-p:hover::before {

   content:"Hej , här är lite tips om mat rätten";
   position: relative;
   top:0px;
   border:2px solid green;
   left:10px;
   color:red;
}

.card-p:hover::before {

    content: " 🎧 här kommer en hörlur  " ;
    position: relative;
    top:0px;
    border:2px solid green;
    left:10px;
    color:red;
 }


 
 */

 
 article {
     border:2px solid gray;
     border-radius: 10px 10px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
 }


 article>button {
     align-self: flex-end;
 }


/*
 figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }  */

 li{ 
     display: inline;
     margin-right: 30px;

 }

 /* psuedu class har oxå 10p */
.card--img:hover {

    
   /* animation: name duration timing-function delay iteration-count */
  animation: imageAnim 2s ease-in 1s infinite;

 /*  transform: scale(1.5, 1.5);  */

  /*transform: rotate(300deg); */

 /* transform: translate(200px, -300px); */

}
/*  keyframes */

/* 2sec  */

@keyframes imageAnim {

    0% {
        transform: translate(100px, 100px)
    }
    12% {
        transform: rotate(180deg);
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: .5;

    }

    100% {
        opacity: 1;
        transform: translate(0,0);
    }

}
