 /* css selector: 

    tagname { egenskap: värde; }  // 1 

    .classname { egenskap: värde;  }  // 10

    #idnamn {  egenskap: värde;  } // 100

   
    När det är css konflict: 
    p { color: black;}

    .p-class { color: green; }

    #p-id { color: hotpink;}
   

    * : selector // välja allt 


    nav background
    nav ska en height 
    punkterna ska borta 
    de ska visas i samma rad 


    om boxmodell: 

    block element:  margin, padding, height och width

    inline element: 
    height och width gäller inte för inline element. 


    inline-block element: 
    då element är inline eller har radbrytning och height och width kan implementeras där.

    img??? varför fungerar height och width? svar: det är en inline-block
     
    
    ** px, rem, em, vh, vw


    html doc font size == 16px == 1rem

span{
    display: inline-block;
    background: red;
    height: 300px;
    width: 300px;
 }
    

   

cmd: cd   , cd .. , 




 git initialize: git init

 git status : vilka ändringar som har hänt 

 git add: vilka filer ni vill git ska spara  : git add .

 sparar: git commit -m "skriver man vettig meddelandet om ändringar , name"



 molntjänst : github , gitbucket 




 https://caniuse.com/ // för att kunna se om egenskaperna är godkända av browser
 
 css position: 
     static : default
     relative : med hjälp av top bottom left right kan man flytta 
               element från sin plats
     absolute : samma som relative positionering 
                 men  
     
                när den flyttar lämnar sin gammal plats
                parents ska ha relative positionering
                annars följer den html body element 
     fixed    : 
     --
     sticky: fixed och relative
 
 
 
 
 
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

 }

 html {
     font-size: 16px;
 }

 nav{
     padding: 1.25rem;
     background: grey;
     height: 2.5rem;
     
 }

 ul {
    
     text-align: center;
 }
 main{
    
 }

 li{ 
     display: inline;
     margin-right: 30px;

 }

 
 a {
     text-decoration: none;
 }

 
 a:link {
     color: rebeccapurple;

 }
 
 a:active {

    color:plum;
 }
 a:hover {
     color:green;
      

 }
 a:visited {
        color:red;
 }


 section {
    position: relative;
    height: 800px;
    width: 800px;
    border: 2px solid red;
 }

 .article {
     height: 200px;
     width: 200px;
 }

 #article14{
     background: indianred;
     position: absolute;
     left:200px;
     top:200px;
 }

 #article24{
    background: blue;
}
#article34{
    background: plum;
}#article44{
    background: goldenrod;
}



header{

    background: linear-gradient(to right bottom,rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0.2))    , url("bilder/headerPic.jpg");
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
   
}

.header-h1, .header-button {
    position: absolute;
    transform: translate(-50%, -50%);
    
}

/* tagname.Classname */
div.testing-Selector {
 background-color: red;

}

/* tagname > child elemenet  */

div.testing-Selector>div {
   border:2px solid green;
}


.color-test {
    color: green;

    font-family: 'Sansita Swashed', cursive;
}

.span-color-test {
    color:red;
}

.header-h1 {
   
    top:50%;
    left:50%; 
    color:red;
    

}
.header-button {
    
    top:60%;
    left:50%; 
    color:blue;
    
    height: 2.5rem;
    width: 8rem;
    border-radius: 20px 20px;
    box-shadow: grey;
    
}














.flex-container {
    height: 800px;
    border: 2px solid red;
    display: flex;

    justify-content: space-between ;
    

}
/* använd align-items, justify-content för att flytta flex items i center  */

/* ***** container egenskaper  ***** */
/* justify-content:flex-start, flex-end, center, space-around, space-between, space-evenly */ 

/* align-items: flex-start, center, flex-end */

/* flex-direction */


/* ***** container egenskaper  ***** */


/*   ***items egenskaper  ***  */


/*  order  , align-self */
.flex-items {
    background-color: hotpink;
    height: 50px;
    width: 50px;
     
}


.i-4 {

   
}

.i-1{
    order:1;
}