
#toggle {
    display: none;
}

.hamburger {
    display: none;
}


.navbar{
    padding: 1.25rem;
    background: $base-color;
    height: 2.5rem;   
}

.navbar--menu  {

   display: flex;
   justify-content:space-around ;
   align-items: center;
}

.navbar--menu >a {

    text-decoration: none;
    font-size: 20px;
    
}

@media (max-width:500px) {

    .hamburger {
        display: block;
    }

    .navbar--menu {
        display: none;
      
       
    }
   

    #toggle:checked  + .navbar--menu {
     
      display: block;
      background-color: orange;
      padding-bottom: 5px;

    }

    #toggle:checked  + .navbar--menu::before {
        content:" 😺  🍔  ⚓  ";
         display: block;
         background-color: orange;
         padding-bottom: 5px;
   
       }

    .navbar--menu >a {

       display: block;
       color: wheat;
       margin: 20px;
       border-bottom: 1.5px solid black;

        
    }


}